<div class='col-md-12'>
  <nav class='navbar navbar-default'>
    <div class='main'>
      <div class='container-fluid'>
        <a class='navbar-brand'>{{pageTitle}}</a>
      </div>
    </div>
  </nav>
  <div class='col-md-2'>
    <div class="sidebar">
      <a [routerLink]="['/welcome']"><i class="fa fa-fw fa-home"></i>Home</a>
      <a [routerLink]="['/products']"><i class="fa fa-fw fa-book"></i>Product List</a>
    </div>
  </div>
  <div>
    <div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>