<div>
    <div>
        <div class='panel panel-primary' style="margin-left: 158px">
            <div class='panel-heading'>
                {{productTitle}}
            </div>
            <div class='panel-body'>
                <div>
                    <div>Filter by</div>
                    <div>
                        <input type='text' [(ngModel)]='listFilter' />
                    </div>
                </div>
                <div class='row'>
                    <div>
                        <h3 style="margin-left: 15px">Filtered by: {{ listFilter }}</h3>
                    </div>
                </div>
                <div class='table-responsive'>
                    <table class='table' *ngIf='products && products.length'>
                        <thead>
                            <tr>
                                <th>
                                    <button class='btn btn-primary' (click)='buttonToggle()'>
                                        {{ setButton ? 'Hide image' : 'Show image' }}
                                    </button>
                                </th>
                                <th>Product</th>
                                <th>Code</th>
                                <th>Available</th>
                                <th>Price</th>
                                <th>5 Star Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let product of products | productFilter:listFilter'>
                                <td>
                                    <div *ngIf=setButton>
                                        <img [style.width.px]=imageWidth [style.margin.px]=imageMargin [src]='product.imageUrl'
                                            [title]=product.productName />
                                    </div>
                                </td>
                                <td>
                                    <a [routerLink]="['/product',product.productId]">{{ product.productName }}</a>
                                </td>
                                <td>{{ product.productCode }}</td>
                                <td>{{ product.releaseDate }}</td>
                                <td>{{ product.price | currency:'INR' }}</td>
                                <td>
                                    <ai-star [rating]='product.starRating' (ratingClicked)='onClicked($event)'></ai-star>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>