<div class="row">
    <div class="col-md-9 col-md-*">
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <h1>{{pageTitle}}</h1>
            </div>
            <div class='panel-body'>
                <div allign='center'><img src='https://openclipart.org/image/90px/svg_to_png/285006/publicdomainq-business-man-inviting.png'
                        width=200 /></div>
                <div>
                    <h5>By: Manoj Acharya</h5>
                </div>
                <div>
                    Email:<button type="button" class="btn btn-link">www.mjacharya01@gmail.com</button>
                </div>
            </div>
        </div>
    </div>
</div>